.container-fluid {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.background {
  background-image: linear-gradient(
    315deg,
    rgb(0, 221, 210) 10%,
    rgb(169, 0, 221) 90%
  ) !important;
}

.btn {
  min-width: 220px;
  min-height: 45px;
  margin: 12px auto;
  font-weight: bold !important;
  color: #fff !important;
  border-radius: 25px !important;
  background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%) !important;
  border-radius: 3 !important;
  border: 0 !important;
  padding: 0 30px !important;
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, 0.3) !important;
}

.title {
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 50px;
}
